.data {
    font-weight: 400;
}

.left {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}

#addKoala {
    margin-bottom: 25px;
    margin-top: 25px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 900px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

img {
    width: 175px;
    margin-bottom: 25px;
}
h1 {
    font-size: 15px;
}

h2 {
    font-size: 15px;
}

body {
    margin: 50px 50px;
}